{% extends "./view/templates/base.html" %}
{% block css %}
	<link rel="stylesheet" href="./view/templates/css/busqueda.css">
{% endblock %}
{% block main %}
	<main class="borde colorFondo" id="conjuntoEventos">
        <form action="./busqueda.php" method="post">
            Palabra de búsqueda <input type="text" name="palabraBusqueda"/>
            Género 
            	<select name="genero">
            		{% for genero in generos %}
            			<option value="{{genero}}">{{genero}}</option>
            		{% endfor %}
            	</select>
            <input type="submit" value="Enviar"/>
        </form>
    </main>
{% endblock %}
