/* Separar en varios archivos o solo uno ? -> Solo uno */
/* Poner clase para cada página */
/* Poner class solo a contenedores, acceder a los elementos por herencia */

/* Quitar los padding */

/* Estructura general */

/* Fondo que se ajusta al tamaño de la pantalla */
html { 
  background: url(img/fondo/fondo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrap {  
  width: 1200px;
  margin: auto;
  /* padding: 20px;   */
  top: 0;

  display: grid;      
  grid-template-columns: 40% 40% auto;
  grid-template-rows: auto;
  grid-column-gap: 1%;
  grid-row-gap: 1%;  
  grid-template-areas:
  "header header header"
  "nav nav nav"
  "main main aside"
  "footer footer footer";   
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----------------------------------------------- */

header {
  grid-area: header;
  background-color: rgba(255, 255, 255);
  display: flex;
  /* margin: auto; */
}

/* Habrá que ponerle id - O NO */
header > img { 
  margin-left: 30%;
  /* margin: auto; */
}

#nombre_eslogan {   
  margin-left: auto;
  margin-right: 30%;
  /* margin: auto; */
}

#nombre_eslogan>h1 {
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
  margin-bottom: 0;
}

#nombre_eslogan>p {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0;
}

/* ----------------------------------------------- */

nav {
  grid-area: nav;
  display: flex;
  /* padding: 10px 0; */
  background-color: white;  
  box-shadow: rgb(120, 214, 135);
  padding: 0;
}

nav a:hover {
  background-color: aqua;
}

nav>a {
  flex-basis: 100%;
  text-align: center;
  border: 1px solid black;
}

/* ----------------------------------------------- */

main {
  grid-area: main;
  display: flex;  
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.8);  
}

/* ----------------------------------------------- */

aside {
  grid-area: aside;
  display: flex;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.8);

  /* Flex */
  flex-flow: column;  
}

.recomendaciones {
  margin: auto;
  width: 75%;
  word-wrap: nowrap;  
  text-align: center;  
}

.recomendaciones>h4 {
  font-size: 23px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  margin: auto;
}

.recomendaciones>ul {
  list-style-type: none;
  padding: 0;
}

.recomendaciones>ul>li {
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}

#mas-vendidos {
  
}

/* ----------------------------------------------- */

footer {
  grid-area: footer;
  display: flex;
  padding: 10px 0;
  background-color: rgba(219, 224, 146, 0.8);      
}

#tiendas {
  width: 33.3%;
}

#tiendas>ul {
  list-style-type: none;  
  padding: 0;
}

.ciudad {

}

.locales {
  list-style-type: none;
  padding: 0;
}

#contacto {
  width: 33.3%;
}

#informacion {
  width: 33.3%;
}

#informacion>ul {
  list-style-type: none;  
}

#redes {
  
}

/* ----------------------------------------------- */

/* Formularios */

form {
  display: flex;
  flex-direction: column;  
  margin: auto auto;
}

label {
  margin: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
}

label>input {
  margin: 0 0;
}

label>p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 4;
  width: 25%;
}

input[type=text], select, textarea, input[type="email"] {
  width: 100%;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* index.html */

#indx {
  background-color: white;
  flex-direction: column;  
  padding-left: 30px;
  padding-right: 30px;
}

.evento {  
  padding-bottom: 10px;
  padding-top: 20px;
  border-bottom: 4px solid crimson;  
}

.evento-cabecera {
  display: flex;      
}

.evento-info {
  display: flex;
  width: 80%;  
  flex-direction: column;  
  margin-left: 15px;
}

/* Nombre del evento */
.evento-info>h3 {
  width: 100%;  
  font-size: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
  margin-bottom: 0;  
  margin-top: 0;
}

/* Datos del evento */
.evento-info>h5 {
  font-size: 20px;  
}

/* Imágenes de los eventos */
.evento-cabecera>img {  
  object-fit: cover;
  width: 300px;  
  height: 200px;  
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* orders.html */

#orders {
  display: flex;
  flex-direction: column;  
}

#info-pedido {
  display: flex;
  flex-direction: column; 
}

#datos-libro {
  display: flex;  
} 

#datos-libro>img {
  object-fit: cover;  
  width: 100px;
  height: 150px;
  padding: 10px;  
}

#datos-pedido {
  width: 100%;
}

#datos-pedido>li{
  display: flex;
}

#datos-pedido h4 {
  width: 25%;
}

#datos-pedido p {
  width: 100%; 
}

.categoria {
  margin: 5px 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.valor {
  margin: 5px;
  color: green;
  white-space: nowrap;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#descripcion-pedido {
  margin: 10px;
}

#precio-pedido {
  display: flex;
  margin: 10px;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#precio-pedido>p {
  margin: 0 0 0 10px;
  color: green;
}

#precio-pedido>h4 {
  margin: 0;
}

#datos-libro>ul {
  list-style-type: none;
}

button, input[type=submit] {
  font-weight: bold;    
  background-color: rgba(58, 161, 58, 0.705);  
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.2s;
  border: none;
  padding: 10px 10px;
  margin: 4px 2px;
  text-decoration: none;
  text-align: center;
}

button:hover, input[type=submit]:hover {
  background-color: goldenrod;
  color: white;
}

/* Formulario */

#form-orders {  
  margin-left: 0;
  margin-right: 0;
  white-space: nowrap;
}


/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* stores.html */

#stores ul {
  list-style-type: none;
}

#tabla-tiendas {
  width: 100%;    
}

#tabla-tiendas, td {
  border: 1px solid black;
}

.tienda>img {
  object-fit: cover;
  width: 500px;
  height: 300px;

  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.nombre-ciudad {
  text-align: center;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

.tienda>ul {
  display: flex;
  padding: 0;
}

.tienda>ul>li {
  width: 33%;
  margin: auto;  
  text-align: center;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* catalogue.html */

#catalogue {
  /* display: flex; */
}

.libro {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 500px;
  margin: 0 auto;
}

.libro>img {
  object-fit: cover;  
  width: 100px;
  padding: 10px;
  max-width: 100px;
  max-height: 150px;  
}

.precio {
  color: green;  
}

.prueba {  
  width: 87px;
  margin: 0 auto;  
}

/* .libro>a {
  
} */

/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* search.html */

select {
  text-align: center;
  text-align-last: center;
}

.form-subtitle {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  margin-top: 20px;
  margin-left: 10px;
}

#precio>label {
  margin-top: 0;
  margin-bottom: 0;    
}

#precio {
  margin-right: 0;
}

#precio>p {
  height: 50%;
  margin-right: 0;
}

.form-subtitle {
  width: 25%;
  margin-right: 10;
}

.radio {
  /* text-align: right; */
  display: flex;
}

.radio-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}

.radio-options>label {
  flex-direction: row;
}

.radio-text {
  margin-left: 10px;
  white-space: nowrap;  
}