body {
	margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.imagenCentral {
    width: 200px;
    height: 200px;
}

.borde {
	border-style: solid;
}

.colorFondo {
	background-color: darkgray;
}

input[type="text"] {
	resize: vertical;
	border-style: solid;
	border-color: #ccc;
	width: 95%;
	padding: 0.5%;
	margin: 1%;
}

input[type="date"] {
	display: block;
	margin: 1%;
}

label {
	display: block;
	margin: 0.5%;
}

input[type="submit"] {
	display: block;
	margin: 0.5%;
}
